.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 20px auto;
    color: white;
    display: grid;
    grid-template-columns: auto 1fr 1fr auto;
    grid-template-rows: 1fr auto;
    gap: 20px 20px;
    /* grid-template-areas: ""; */
}

.grid div {
    background-color: #3a4c54;
    text-align: center;
    display: grid;
    align-items: center;
}