.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    color: white;
    margin: 20px auto;
    display: grid;
    gap: 20px 20px;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(6, 1fr);
    
}

.one {
    grid-area: 6 / 1 / 7 / 11;
    text-align: center;
    background-color: #2196f3;
    display: grid;
    align-items: center;
}

.two {
    grid-row: span 1;
    grid-column: span 7;
    text-align: center;
    background-color: #2196f3;
    display: grid;
    align-items: center;
}

.three {
    grid-row: span 1;
    grid-column: span 3;
    text-align: center;
    background-color: #2196f3;
    display: grid;
    align-items: center;
}

.four {
    grid-row: span 1;
    grid-column: span 3;
    text-align: center;
    background-color: #2196f3;
    display: grid;
    align-items: center;
}

.five {
    grid-row: span 3;
    grid-column: span 7;
    text-align: center;
    background-color: #2196f3;
    display: grid;
    align-items: center;
}
.six {
    grid-row: span 1;
    grid-column: span 3;
    text-align: center;
    background-color: #2196f3;
    display: grid;
    align-items: center;
}

.seven {
    grid-row: span 1;
    grid-column: span 3;
    text-align: center;
    background-color: #2196f3;
    display: grid;
    align-items: center;
}

.eight {
    grid-area: 1 / 1 / 2 / 11;
    text-align: center;
    background-color: #2196f3;
    display: grid;
    align-items: center;
}